body{
    background: rgb(240, 240, 240);
}

main{
    background: rgb(130, 0, 236);
    text-align: center;
    padding: 7px;
    border-radius: 25px;
    width: 50%;
    margin: 15% auto;
}

@media screen and (max-width: 768px){
    main{
        margin: 50% auto;
    }
}

*{
    font-family: 'Poppins', sans-serif;
}
footer{
    margin: 100px auto;
    text-align: center;
}